html,
body {
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: min-content repeat(var(--size), 1fr);
  /*grid-template-rows: min-content repeat(1, 1fr);*/
  padding: 1em;
}

h1 {
  background-color: #eee;
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  padding: 0.5em 0;
}

.iframe-wrapper {
  border: 1px solid #ccc;
  min-height: 0;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}
